<footer class="bg-light text-center text-lg-start border-top pt-4">
  <div class="container py-2">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="text-uppercase">About Me</h5>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum
          asperiores temporibus commodi quia obcaecati iusto debitis.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled links mb-0">
          <li>
            <a routerLink="/home" class="text-dark text-decoration-none"
              >Home</a
            >
          </li>
          <li>
            <a routerLink="/about" class="text-dark text-decoration-none"
              >About Me</a
            >
          </li>
          <li>
            <a class="text-dark text-decoration-none" routerLink="/portfolio"
              >Portfolio</a
            >
          </li>
          <li>
            <a routerLink="/contact" class="text-dark text-decoration-none"
              >Contact</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Follow Me</h5>
        <ul class="list-unstyled d-flex gap-3 social">
          <li>
            <a class="text-dark"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a class="text-dark"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="text-dark"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a class="text-dark"><i class="fab fa-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-light border-top">
    © 2025 Mostafa Yehya. All rights reserved.
  </div>
</footer>
