<section id="about" class="my-5 py-5">
  <div class="container">
    <div class="row justify-content-between align-items-center py-4">
      <div class="col-lg-5">
        <div
          class="image d-flex justify-content-center justify-content-lg-start"
        >
          <img src="/images/about.png" class="w-75" alt="main photo" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="inner my-5">
          <div class="my-3">
            <app-heading>
              <span>About</span>
              <h2>About Me</h2>
            </app-heading>
          </div>
          <p class="mb-4 lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            varius faucibus massa sollicitudin amet augue. Nibh metus a semper
            purus mauris duis. Lorem eu neque, tristique quis duis. Nibh
            scelerisque ac adipiscing velit non nulla in amet pellentesque.
          </p>
          <p class="lead">
            Sit turpis pretium eget maecenas. Vestibulum dolor mattis
            consectetur eget commodo vitae. Amet pellentesque sit pulvinar lorem
            mi a, euismod risus r.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
