.navbar-brand img {
  width: 150px;
  object-fit: cover;
}
/* .navbar-nav .nav-item .nav-link {
  color: white;
} */
.navbar.navbar-expand-lg {
  transition: 0.3s background-color;
  background-color: #f5fcff !important;
}

.navbar.navbar-expand-lg.dark {
  background-color: white !important;
  border-bottom: 2px solid #eeeeee;
}
.nav-link.active,
.nav-link:hover {
  color: var(--primary);
}
