<section id="home" class="my-5 py-5">
  <div class="container">
    <div
      class="row justify-content-between align-items-center flex-md-row flex-column flex-column-reverse"
    >
      <div class="col-md-5">
        <div class="inner my-5">
          <p class="my-name">Hey, I am John</p>
          <h1 class="my-4 text-md-start text-center">
            I create <span>product design</span> and brand experience
          </h1>
          <p class="mb-4 text-md-start text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique.
          </p>
          <div
            class="d-flex d-md-block justify-content-center align-items-center"
          >
            <app-contact-btn> Get In Touch </app-contact-btn>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="/images/main.webp" class="w-100" alt="main photo" />
      </div>
    </div>
  </div>
</section>
<app-skills></app-skills>
